@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Barlow Condensed", sans-serif !important;
}

.container__wrapper {
  margin-top: 2rem;
}

.data__container {
  gap: 3rem;
}

.data__shape {
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.container__title {
  text-transform: uppercase;
  font-weight: 700;
}

.data__excerpt {
  max-width: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 1.4em;
}

.data__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data__graphic__wrapper {
  position: relative;
}

.data__graphic__image1 {
  position: absolute;
  bottom: 140px;
  right: 140px;
  transform: scaleX(-1);
  height: 160px;
  width: 160px;
}

.data__graphic__image2 {
  position: absolute;
  top: 130px;
  right: 150px;
  z-index: -1;
  transform: rotate(10deg);
  height: 160px;
  width: 160px;
}

.data__graphic__image3 {
  position: absolute;
  bottom: 110px;
  left: 120px;
  transform: rotate(120deg);
  z-index: -1;
  height: 160px;
  width: 160px;
}

.data__graphic__image4 {
  position: absolute;
  top: 110px;
  left: 130px;
  z-index: -1;
  height: 160px;
  width: 160px;
}

.underline {
  text-decoration: underline;
}
