.data__container {
  gap: 3rem;
}

.data__shape {
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.container__title {
  text-transform: uppercase;
}

.data__excerpt {
  max-width: 200px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.data__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data__graphic__wrapper {
  position: relative;
}

.data__graphic__image1 {
  position: absolute;
  bottom: 140px;
  right: 140px;
  transform: scaleX(-1);
  height: 160px;
  width: 160px;
}

.data__graphic__image2 {
  position: absolute;
  top: 130px;
  right: 150px;
  z-index: -1;
  transform: rotate(10deg);
  height: 160px;
  width: 160px;
}

.data__graphic__image3 {
  position: absolute;
  bottom: 110px;
  left: 120px;
  transform: rotate(120deg);
  z-index: -1;
  height: 160px;
  width: 160px;
}

.data__graphic__image4 {
  position: absolute;
  top: 110px;
  left: 130px;
  z-index: -1;
  height: 160px;
  width: 160px;
}

.underline {
  text-decoration: underline;
}
